* {
    margin: 0;
    padding: 0;
    color: white;
}

body {
    display: flex;
    flex-direction: column;
    background-color: black;
    overflow-x: hidden;
    font-family: 'Roboto', sans-serif;
    min-height: 100vh;
}

h3,
label {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 20px;
}


/* Elementos comunes de todas las páginas fuera de los media queries */

#header {
    display: flex;
    justify-content: space-between;
    height: 10vw;
    max-height: 60px;
    align-items: center;
    background-color: rgb(20, 20, 20);
    position: sticky;
    top: 0px;
    z-index: 100;
    padding: 1vw;
}

#header img {
    width: auto;
    max-width: 60px;
}

nav ul li {
    display: inline;
    font-weight: bold;
    font-size: calc(10px + 1vw);
    padding: 0 3vw;
    width: 100%;
    color: white;
}

nav a {
    text-decoration: none;
    color: white;
}

ul {
    list-style: none;
    font-size: 0;
}

li {
    display: inline-block;
    position: relative;
}

ul ul {
    position: relative;
    display: none;
}

ul ul li a {
    color: white;
}

ul ul li {
    display: block;
    width: auto;
}

ul li:hover ul {
    position: absolute;
    display: block;
    background-color: rgb(30, 30, 30);
}

.footer {
    position: relative;
    left: 0;
    bottom: 0;
    width: 100vw;
    background-color: rgb(10, 10, 10);
    margin-top: 10vh;
    height: 9vh;
    min-height: 60px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    bottom: 0px;
    flex-shrink: 0;
}

.social-media img {
    max-width: 30px;
    padding: 0 5vw;
}

.titles {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: calc(30px + 3vw);
    padding: 5vh 0;
}

/* Media queries para 2 tamaños de pantalla */

@media screen and (max-width: 767px)

/* mobile */
    {

    /* INDEX */
    .video-prom_container {
        max-width: 100vw;
        margin: 2vh 0;
        padding: 1vh;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(20, 20, 20);
    }

    .iframeYT {
        width: 100vw;
    }

    .iframeYT iframe {
        width: 100%;
        height: auto;
        min-height: 300px;
    }

    .about {
        display: flex;
        justify-content: center;
    }


    .about p {
        width: 90vw;
        margin-top: 20px;
        padding: 20px;
        text-align: center;
        font-weight: 200;
        font-size: calc(12px + 0.8vw);
    }

    .gridShopIndex {
        width: 90vw;
        grid-template-columns: repeat(2, 1fr);
        margin: 4vh auto;
        display: grid;
        justify-content: space-around;
        justify-items: center;
    }

    .gridShopIndex img {
        width: 100%;
    }

    /* SHOP */

    .shop_grid-container {
        width: 90vw;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(8, 1fr);
        text-align: center;
        margin: 0 auto;
        gap: 2px;
    }

    .shop_grid-container img:nth-child(1) {
        grid-row: 1/3;
        grid-column: 1/3;
    }

    .shop_grid-container img:nth-child(4) {
        grid-row: 5/7;
        grid-column: 1/3;
    }

    .shop_grid-container img {
        width: 100%;
    }

        /* TOURS */

        .toursContainer {
            width: 90vw;
            margin: 0 auto;
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(10, 1fr);
            align-items: center;
            justify-items: center;       
        }

        .toursContainer__show {
            width: 100%;
            border-bottom: 0.1rem solid white;
            text-align: center;
            padding: 2vh 0;
        }

        .toursContainer__show p, button {
            padding: 1vh;
        }

}

@media screen and (min-width: 768px)

/* desktop */
    {


    /* INDEX */
    .video-prom_container {
        max-width: 100vw;
        margin: 2vh 0;
        gap: 1rem;
        padding: 3vh;
        display: flex;
        flex-wrap: nowrap;
        justify-content: space-evenly;
        align-items: center;
        background-color: rgb(20, 20, 20);
    }

    .iframeYT {
        width: 80vw;
    }

    .iframeYT iframe {
        width: 100%;
        height: 60vh;
    }

    .about {
        display: flex;
        justify-content: center;
    }


    .about p {
        width: 80vw;
        margin-top: 2vh;
        padding: 2vw;
        text-align: center;
        font-weight: 200;
        font-size: calc(12px + 0.8vw);
    }

    .gridShopIndex {
        width: 90vw;
        grid-template-columns: repeat(4, 1fr);
        margin: 4vh auto;
        display: grid;
        justify-content: space-around;
        justify-items: center;
    }

    .gridShopIndex img {
        width: 100%;
    }

    /* SHOP */

    .shop_grid-container {
        width: 80vw;
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-template-rows: repeat(4, 1fr);
        text-align: center;
        margin: 0 auto;
        gap: 5px;

    }

    .shop_grid-container img:nth-child(1) {
        grid-row: 1/3;
        grid-column: 1/3;
    }

    .shop_grid-container img:nth-child(4) {
        grid-row: 3/5;
        grid-column: 3/5;
    }

    .shop_grid-container img {
        width: 100%;
    }

    /* TOURS */

    .toursContainer {
        width: 80vw;
        margin: 0 auto;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(10, 1fr);
        align-items: center;
        justify-items: center;
        padding-top: 3vh;
    }

     .toursContainer__show {
        display: flex;
        justify-content: space-around;
        width: 100%;
        border-bottom: 0.1rem solid white;
        text-align: center;
        padding: 2vh 0;
    }

    .toursContainer__show p, button {
        padding: 1vh;
    }

}

/* Elementos de cada página, fuera de los media queries. */



/* INDEX */

.superhero {
    width: 100vw;
    overflow: hidden;
}

.text-video {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: calc(12px + 1.5vw);
    padding-bottom: 3vw;
}

.text-video .title {

    text-align: center;
    font-weight: 500;
    font-size: calc(10px + 1.5vw);
}

.members {
    width: 90vw;
    margin: 0 auto;
    padding: 1vw;
    display: flex;
    gap: 3vw;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.membersPhotos img {
    width: 20vw;
    min-width: 180px;
}

.membersPhotos p {
    padding-top: 1vh;
    font-weight: bold;
    color: white;
    text-align: center;
    font-size: calc(10px + 1.5vw);
    width: 100%;
}


/* ALBUMS */

.albums {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    margin-top: 50px;
}

.albums iframe {
    width: 80%;
}

.albums p {
    color: white;
    text-align: center;
    font-weight: bold;
    font-size: 30px;
    padding: 30px 0;
}

.albumsIframe {
    width: 100%;
}

.albums-container {
    display: flex;
    justify-content: space-evenly;
    align-content: space-around;

}

/* TOURS */


.toursBackground {
    width: 100vw;
    min-height: 80vh;
    background-image: url("../img/live.webp");
    background-attachment: fixed;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}


button {
    background-color: rgb(30, 30, 30);
    text-decoration: none;
    font-weight: 500;
    text-align: center;
    cursor: pointer;
    border: none;
    color: white;
    padding: 10px 15px;
    text-align: center;
    font-size: 16px;
    margin: 5px;
    border: 1px solid rgb(173, 173, 173);
}

/* SHOP */

.h1shop {
    text-align: right;
    padding: 50px;
}


.shop-container {
    display: flex;
    gap: 1vw;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-content: space-around;
}

.shopItem {
    padding-bottom: 60px;
}


/* CONTACT */

form {
    margin: 0 10%;
    text-align: justify;
    display: block;
    flex: 1 0 auto;
}

form label,
input,
textarea {
    margin: 5px;
}

form input,
textarea {
    color: black;
}

.checks {
    color: white;
    text-align: justify;
    font-weight: bold;
    font-size: 20px;
}